h2{
    color:pink;
    text-align: center;
}
h3{
    display: inline-block;
    height:200px;
    max-width: 100%;
    background: #f6b0b0;
    text-align: center;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.Foto1{
    width:300px;
    height:300px;
}