body{
    background-color: beige;
}
h1{
    padding: 5%;
    font-size: 60px;
    font-style: italic;
    text-align: center; 
    background-color: #f6b0b0;
    max-width: 100%;
}
h2{
    text-align: center;
    font-size: 40px;
}

ul{
	z-index: 0;
	text-align: left;
}
.lista{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lista1{
    font-size: 30px;
    position: absolute;
    float: left;
    padding-left: 3%;
}
.lista2{
    font-size: 30px;
    float: right;
    padding-top: 7%;
    padding-right: 5%;
}
.lista3{
    font-size: 30px;
    position: absolute;
    float: left;
    padding-top: 14%;
    padding-left: 3%;
}
.lista4{
    font-size: 30px;
    float: right;
    position: absolute;
    padding-top: 21%;
    right:0%;
    padding-right: 5%;
}
.lista5{
    font-size: 30px;
    position: absolute;
    float: left;
    padding-top: 30%;
    padding-left: 3%;
}
.one, .three {
    font-size: 30px; 
    padding-top: 5%;
    float: right;
}
.two, .five{
    font-size: 30px; 
    padding-top: 6%;
    float: left; 
    padding-left: 2%;
}

.four{
    padding-left: 2%;
    font-size: 30px; 
    padding-top: 5%;
    float: left; 
}