h1{
    padding: 5%;
    font-size: 30;
    font-style: italic;
    text-align: center; 
    background-color: #f6b0b0;
    max-width: 100%;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
ul{
	z-index: 0;
	text-align: center;
}
.lista1{
    position: relative;
    float: left;
    left: 45%;
    text-align: center;
}
