body{
    background-color:rgb(238, 238, 228) ;
}
h1{
    font-size: 60px;
    text-align: center;
    padding: 5%;
    font-style: italic;
    background-color: #f6b0b0;
    max-width: 100%;
}
.pagp1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    float: left;
    margin: 30px;
}
.pagp2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 40px;
    float: right;
}
.icon{
    color: #020a15;
    width: 60px; 
    display: inline-block;
}
h2{
    color: #f6b0b0;
    text-align: center;
    font-size: 40px;
}
.content{
    float:right;
    height:250px;
    max-width: 100%;
    background: #f6b0b0;   
}
img{
    float:left;
    max-width: 100%;
    max-height: 100%;
    padding-left: 10%;
}
.container{
    float: left;
    width:360px;
    height:400px;
}
h3{
    float: right; 
    background: #f6b0b0;
    font-size: 30px;
    width: 950px;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
   .imagen-container {
    position: relative;
    display: inline-block;
   }
   
   .imagen-activa {
    display: inline-block;
    width: 300px;
    padding-left: 9%;
   }
   .imagen-inactiva {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
   }
   
   .flecha {
    font-size: 24px;
    cursor: pointer;
   }
   
   .flecha-izquierda {
    float: left;
    margin-left: 10%;
   }
   
   .flecha-derecha {
    float: left;
   }
.Instagram{
    float: left;
    width: 60px;
    height: 60px;
    padding-left: 30%;
}
.textoinsta{
    padding-top: 30%;
    font-size: 25px;
}
.TikTok{
    float: left;
    text-align-last: auto;
    width: 60px;
    height: 60px;
    padding-left: 14%;
}
.textotiktok{
    padding-top: 100%;
    font-size: 25px;
}
.X{
    float: left;
    width: 60px;
    height: 60px;
    padding-left: 13%;
}
.textoX{
    padding-top: 30%;
    font-size: 25px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    background-color:#f6b0b0;
  }
table{
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    width: auto;
    border-spacing: 10px;
    margin-right: 15%;
    margin-bottom: 5%;
}
th, td{
    padding: 10px;
  }
th{
    text-align: center;
  }
.content2{
    font-size: 40px;
    font-family: "Courier New", monospace;
    font-style: oblique;
    font-weight: bold;
    padding-top: 10%;
    text-align: center;
    padding-bottom: 3%;
}
.img1{
    width: 40px;
    float:inline-start;
}
.img2{
    width: 40px;
    float:inline-end;
    padding-right: 8%;
}
.titulo1{
    display: inline-block;
}
.icon1{
    color:black;
    float: left;
}
.icon2{
    color:black;
    float: right;
    width: 1px;
}