body{
    background-color:rgb(238, 238, 228) ;
}
h1{
    font-size: 60px;
    text-align: center;
    padding: 5%;
    font-style: italic;
    background-color: #f6b0b0;
    max-width: 100%;
}
.titulo1{
    text-align: center;
    display: inline-block;

}
.pagp1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    float: left;
    margin: 30px;
}
.pagp2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 40px;
    float: right;
}
.icon{
    color: #020a15;
    width: 60px; 
    display: inline-block;
}
.img1{
    width: 40px;
    float:inline-start;
}
.img2{
    width: 40px;
    float:inline-end;
    padding-right: 5%;
}