h3{
    color:pink;
    text-align: center;
}
header div{
    display: inline-block;
    height:200px;
    background: #f6b0b0;
    text-align: center;
}
.Foto1{
    width:100px;
    height:100px;
    text-align: center;
}