h1{
    text-align: center; 
    background-color: #f6b0b0;
    max-width: 100%;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
ul{
	z-index: 0;
	text-align: center;
	padding: 5%;
}
.lista1{
    position: relative;
    float: left;
    left: 48%;
}
